<div id="tank-title">
<h1>Welcome!</h1>
<h2>My Aquariums</h2>
  <button type="button" class="btn btn-large btn-success afterlogin" id="createtankbutton" data-toggle="modal" data-target="#createtankmodal">
    Create New Aquarium!
  </button>

  <!-- ADD TANK MODAL-->
  <div class="modal fade" id="createtankmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add a New Aquarium</h5>
      </div>
      <div class="modal-body">
  <form id="create-tank">
  <fieldset>
    <legend>Create New Aquarium</legend>
      <input name="tank[name]" type="text" id="create-tank-name" placeholder="Tank Name">
      <select name="tank[water]" id="create-tank-water">
        <option disabled selected value>--Choose a Water Type--</option>
        <option value="Fresh">Fresh</option>
        <option value="Salt">Salt</option>
        <br>
      </select>
      <input type="submit" name="submit" value="Create New Tank">
  </fieldset>
  </form>
  </div>
  <div class="modal-footer">
  <div class="createerror"></div>
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
  </div>
  </div>
  </div>
  </div>
  </div>
