$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  font-family: 'Lakki Reddy', cursive;
  background-image: url('http://imgur.com/2P8xIP1.jpg');
}
