$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-image: url('https://imgur.com/2P8xIP1.jpg');
  font-family: 'Lakki Reddy', cursive;
}


#handlebarsone {
  text-align: center;
}

.tank-style {
  width: 100%;
  background: #F0F8FF;
}

.hidden {
  display: none;
}


.tank-listing {
  border: 2px solid black;
  border-radius: 15px;
  background-color: white;
  background: rgba(240,248,255, .8)
}

.animal-table {
  background-color: #F0F8FF;
  font-size: 20px;
}

.tank-names {
  color: black;
}

.tank-water {
  font-size: 20px;
}
