$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$app-grey: #e6e6e6;
$hover-blue: #b3e6ff;
$black: #000;
$red: #c00;


body {
  font-family: 'Merriweather Sans', sans-serif;
  overflow: auto;
}

/* unset bs3 setting */
.modal-open {
 overflow: auto;
}

.img-responsive {
  max-width: 100%;
  margin: auto;
}

#handlebarsone {
  text-align: center;
}

#handlebarstwo {
  text-align: center;
}

.auth-modals {
  text-align: center
}

.loginbuttons {
  font-size: 20px;
}

.no-tanks {
  background-color: $app-grey;
  background: rgba(230, 230, 230, .9);
  text-align: center;
}

.tank-style {
  background-color: $app-grey;
  width: 100%;
}

.about {
  background-color: $app-grey;
  opacity: .9;
  padding: 10px;
}

.about-title {
  font-size: 35px;
}

.about-section {
  font-size: 20px;
}

.hidden {
  display: none;
}

th {
  text-align: center;
}

.tank-listing:hover {
  background-color: $hover-blue;
}

tr:hover {
  background-color: $hover-blue;
}

.tank-listing {
  background-color: $app-grey;
  background: rgba(230, 230, 230, .9)
}

.animal-table {
  background-color: $app-grey;
  background: rgba(230, 230, 230, .9);
  font-size: 20px;
}

.tank-names {
  color: $black;
}

.tank-water {
  font-size: 20px;
}

#signupsuccess {
  color: green;
}

.signinerror {
  color: $red;
  font-size: 15px;
  text-align: left;
}

.signuperror {
  color: $red;
  text-align: left;
}

.passworderror {
  color: $red;
  text-align: left;
}

.createerror {
  color: $red;
  text-align: left;
}

.updateerror {
  color: $red;
  text-align: left;
}


.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
@media all and (transform-3d),
(-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.item:nth-child(1) {
    background: url('https://imgur.com/2P8xIP1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(2) {
    background: url('https://i.imgur.com/lhO9qse.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(3) {
    background: url('https://i.imgur.com/vbctzdH.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel {
    z-index: -99;
}
.carousel .item {
    position: fixed;
    width: 100%;
    height: 100%;
}
