$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-image: url('https://imgur.com/2P8xIP1.jpg');
  font-family: 'Lakki Reddy', cursive;
}

#handlebarsone{
  text-align: center;
  // padding-top: 65px;
}

.hidden {
  display: none;
}
